*, *:before, *:after {
	box-sizing : border-box;
}
body {
	background: #353535;
    font-family: 'Roboto',sans-serif;
}
header h1 {
    font-family: 'Montserrat',serif;
    text-align: center;
    margin-top: 2rem;
    color: white;
}
.row {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding:  0;
    text-size-adjust: 100%;
}
.row:before,.row:after {
    display: table;
    content: ' ';
}
.row:after {
    clear:  both;
}
/* Todo Layout */
.todo-app {
    display: block;
	background: #fff;
	border: 1px solid #eaeaea;
	width: 90vw;
	margin: 0 auto;
    border-radius: 6px;
}
/* Todo Header */
.todo-header {
    position: relative;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
.todo-header .todo-new {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    padding-left: 40px;
    margin-top: 1.5rem;
    border: none;
}
.toggle-all-read {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);    
}
/* Todo Main */
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.todo-list li {
    clear: both;
    border-bottom: 1px solid #ededed;
    padding: 10px 0;
    margin: 0 10px;
    position: relative;
}
.toggle-read {
    margin-right: 10px;
    margin-bottom: 0;
}
.toggle-read,
.todo {
    vertical-align: middle;
}
.todo {
    white-space: pre-line;
    word-break: break-all;
    display: inline;
    font-weight: 500;
}
.todo-remove {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0 1rem;
    visibility: hidden
}
.todo-list > li:hover .todo-remove {
    visibility: visible;
}
/* Todo Footer */
.todo-footer {
    display: block;
    text-align: center;
    padding: 15px;
    background: #f4f5f6;
}

.todo-remaining,
.todo-filters,
.todo-clear-completed {
    display: block;
    margin-bottom: 2rem;
}
.todo-remaining {
}
.todo-clear-completed {        
    margin-bottom: 0;
    width: 100%;
}
.todo-filters {
    padding: 0;
    list-style: none;
}
.todo-filters > li {
    display: inline;
}
.todo-filters a {    
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
}
.todo-filters a.active {
    border-color: rgba(175, 47, 47, 0.2);
}
/* Breakpoints */
/* Larger than mobile screen */
@media (min-width: 40.0rem) {
    .todo-app {
        width: 80vw;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) { 
    header h1 {
        margin: 6rem 0;
    }
    .todo-app {
        width: 50vw;
    }
    .todo-footer {
        display: table;
        text-align: center;
        padding: 15px;
        background: #f4f5f6;
    }
    
    .todo-remaining,
    .todo-filters,
    .todo-clear-completed {
        display: table-cell;
        vertical-align: middle;
    }
    .todo-remaining {
        text-align: left;
        width: 20%;
    }
    .todo-filters {
        width: 50%;
    }       
}